@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,900;1,300&family=Mukta:wght@300&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/image-uni.css");
@import url("components/button.css");


body {
font-family: 'Times New Roman' ;
	font-size:  16px;
	font-weight: 0;
	margin: 0px;

}
	

h1, h2, h3 {
	font-family: 'Merriweather';
	font-weight: 300;
}

a {
	text-decoration: none;
}

}














@media (max_width:  760px) {
	.container {
		width: 600px;
	}
	
@media (max_width:  500px) {
	.container {
		width: 400px;
	}
	

	


